<!DOCTYPE html>
<html>
  <head>
    <title>Quantify</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body data-spy="scroll" data-target=".subnav" data-offset="50">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <a class="brand" href="#">QUANTIFY<i class="icon-leaf"></i></a>
          <div class="nav-collapse">
            <ul class="nav">
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>  

    <footer class="footer">

          <p id="copyright">
            Copyright &copy; 2012 Fei Jin
          </p>

    </footer>

    <%= javascript_include_tag "application" %>
    <script type="text/javascript">
      <%= yield :js %>
    </script>
  </body>
</html>
