<% content_for :content do %>
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nave" >
        <ul class="measures nav nav-list">
          <li class="nav-header">Measure</li>
          <% @user.measures.each do |measure| %>
            <li class="measure <%= 'active' if @measure == measure %>"> <%= link_to measure.name, measure %></li>
          <% end %>
        </ul>

        <%= link_to "+", new_measure_path, :class => "btn pull-right" %>
      </div>
    </div>
    <div class="span9" id="content">
      <%= content_for?(:measure_content) ? yield(:measure_content) : yield %>
    </div>
  </div>
<% end %>


<%= render :template => 'layouts/application' %>
